/*時間帯の背景色 4時=.t4*/
.t4,.t5{background:#0277BD;}
.t6,.t7{background:#00695C;}
.t8,.t9,.t10{background:#558B2F;}
.t11,.t12,.t13{background:#F9A825;}
.t14,.t15,.t16{background:#EF6C00;}
.t17,.t18,.t19{background:#C62828;}
.t20,.t21,.t22{background:#6A1B9A;}
.t23,.t24,.t25,.t26,.t27,.t0,.t1,.t2,.t3{background:#283593;}

.news{background:#B3E5FC;}
.sports{background:#FFF9C4;}
.information{background:#BBDEFB;}
.drama{background:#FFCDD2;}
.music{background:#FFECB3;}
.variety{background:#E1BEE7;}
.movie{background:#FFE0B2;}
.anime{background:#F8BBD0;}
.documentary{background:#C5CAE9;}
.theater{background:#DCEDC8;}
.education{background:#C8E6C9;}
.welfare{background:#B2DFDB;}
.extension{background:#FFFFFF;}
.other{background:#F5F5F5;}
.none{background:#E0E0E0;}
.nothing{background:#9E9E9E;}
.reserved{border: 3px dotted #FF3D00;}
.viewing{border:3px dotted #3D5AFE}
.disable,.partially,.shortage{border: 3px dotted #757575;}
.partially{background:#FFFF00;}
.shortage{
  border-color:#FFEA00;
  background:#FF5252;
}

* {
  padding: 0;
  margin: 0;
  color:rgba(0,0,0 ,0.87);
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,body{
  background:#EEEEEE;
  height:100%;
}

a{display: block;}

ul{
  width: 100%;
  font-weight: bold;
  list-style-type: none;
  display: table;
  table-layout: fixed;
}
li{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

input:focus{outline:none;}
input::-webkit-input-placeholder{color:rgba(0,0,0 ,0.38);}
input:-moz-placeholder {color:rgba(0,0,0 ,0.38);}
label{cursor:pointer;}
pre {overflow-x: auto;}

select,[type="text"],[type="checkbox"],[type="number"]{
  border:none;
  width:100%;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
[type="checkbox"],[type="radio"]{display:none;}
[type="checkbox"]+label:not(.switch):not(.hide){
  position: relative;
  padding-left:24px;
  font-size: 16px;
  display: inline-block;
  line-height: 24px;
}
[type="checkbox"]+label:not(.switch):not(.hide):before{
  top:3px;
  left:0;
  border:2px solid rgba(0,0,0,0.54);
  width:12px;
  height:12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  content: "";
  position: absolute;
}
[type="checkbox"]:checked+label:not(.switch):not(.hide):before{border-color:#2196F3;background:#2196F3;}
[type="checkbox"]:checked+label:not(.switch):not(.hide):after{
  top: 5px;
  left: 5px;
  width: 4px;
  height: 8px;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
[type="checkbox"]:disabled+label:not(.switch):not(.hide):before{border-color:rgba(0, 0, 0, 0.26);}
[type="checkbox"]:disabled:checked+label:not(.switch):not(.hide):before{background:rgba(0, 0, 0, 0.26);border-color:rgba(0, 0, 0, 0);}
[type="radio"]{
  border: none;
  width: 100%;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
[type="radio"]+label{
  position: relative;
  padding-left: 30px;
  font-size: 16px;
}
[type="radio"]+label:before{
  top: 3px;
  left: 0px;
  border: 2px solid rgba(0,0,0,0.54);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  content: "";
  position: absolute;
}
[type="radio"]+label:after {
  top: 7px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #2196F3;
  content: "";
  position: absolute;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -webkit-transition-duration: .28s;
  transition-duration: .28s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: scale3d(0,0,0);
  transform: scale3d(0,0,0);
}
[type="radio"]:checked+label:before{border-color:#2196F3;}
[type="radio"]:checked+label:after {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}
.switch {
  top:-1px;
  width:35px;
  height:14px;
  background:rgba(0,0,0,0.26);
  transition:background 0.3s;
  border-radius: 7px;
  position: relative;
  display: block;
}
.switch:after{
  top:-3px;
  left:0;
  width:20px;
  height:20px;
  background:#FAFAFA;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
  content:"";
  border-radius: 100%;
  transition:left 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}
[type="checkbox"]:checked+label.switch,.switch.on{background:rgba(33, 150, 243, 0.5);}
[type="checkbox"]:checked+label.switch:after,.switch.on:after{left:15px;background:rgba(33, 150, 243, 1);}
[type="checkbox"]+label+label,[type="checkbox"]+label+label *{color:rgba(0,0,0,0.54);}
[type="checkbox"]:checked+label+label,[type="checkbox"]:checked+label+label *{color:rgba(0,0,0,0.87);}
label.switch.reverse{background:rgba(33, 150, 243, 0.5);}
label.switch.reverse:after{left:15px;background:rgba(33, 150, 243, 1);}
[type="checkbox"]:checked+label.switch.reverse{background:rgba(0,0,0,0.26);}
[type="checkbox"]:checked+label.switch.reverse:after{left:0;background:#FAFAFA;}
[type="checkbox"]+label.switch.reverse+label,[type="checkbox"]+label.switch.reverse+label *{color:rgba(0,0,0,0.87);}
[type="checkbox"]:checked+label.switch.reverse+label,[type="checkbox"]:checked+label.switch.reverse+label *{color:rgba(0,0,0,0.54);}



#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
#wrap2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
#header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 10;
  background: #1976D2;
  color: #fff;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: max-height,box-shadow;
  transition-property: max-height,box-shadow;
}
#main {
  -ms-flex: 0 1 auto;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-overflow-scrolling: touch;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
#main>div:not(#loading){margin-top:10px;}
.shadow{  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
#menu{
  background:#1976D2;  
  text-align: center;
}
#menu nav{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  order: 1;
}
#menu nav::-webkit-scrollbar {display:none}
#menu nav a{
  color:#ffffff;
  padding: 0 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 64px;
  position: relative;
  display:inline-block;
  word-break: keep-all;
}
#menu nav a:hover:after{
  bottom:0;
  left:0;
  width:100%;
  border-bottom:4px solid #FF4081;
  position: absolute;
  content: "";
}
#menu ul {
  width:50%;
  margin:auto;
}
#menu_ico{
  height: 48px;
  width: 48px;
  margin: 10px 12px;
  font-size: 26px;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
}
#menu_ico .material-icons{
  color: #fff;
}
.space{
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
#textfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: auto;
  max-width: 100%;
  padding: 20px 0;
  min-width: 32px;
  min-height: 32px;
  order: 2;
}

.search-ico {
  position: absolute;
  bottom: 20px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.search-ico:hover {background-color: rgba(158,158,158,.2);}
#hidden{display:none;}

#textfield .material-icons{color:#fff;}
.search-ico .material-icons{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px,-12px);
  -ms-transform: translate(-12px,-12px);
  transform: translate(-12px,-12px);
  line-height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.expandable {
  position: relative;
  margin-left: 32px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  display: inline-block;
  max-width: .1px;
}

#andKey,#saerch-andKey {padding: 4px 0;}
#andKey{line-height: 20px;color: #FFF;}
#saerch-andKey{line-height: 19px;}

.focused .expandable {max-width: 600px;}
.focused+nav{opacity: 0;}

#sub-search>div{padding: 10px 0;}
#sub-search .search-ico{bottom: 8px;}

.menu{
  height: 64px;
  padding: 0 40px 0 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
#pagetitle{
  color: #fff;  
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  white-space: nowrap;
  box-sizing: border-box;
}
#pagetitle span{
  color: #fff;
  font-size:small;
}

.active:after{
  bottom:0;
  left:0;
  width:100%;
  border-bottom:2px solid #FF4081;
  position: absolute;
  content: "";
}

#submenu>ul {
  width: auto;
  margin-left: auto;
}

#submenu>ul>li{width: 115px;cursor:pointer;}
#submenu .servicelist{width:auto;}
.servicelist .jump>div{max-height:calc(100vh - 4%);overflow-y: auto;}
.pull{min-width:115px;}
.jump li{width:148px;}
.time .jump ul{width:345px;}
.time .jump li{width:115px;}
#submenu>ul>li>a{
  color:#1976D2;
  font-weight: bold;
}
#submenu ul li a{
  padding:0 16px 0 24px;
  display: block;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  line-height: 48px;
}
#submenu ul li.servicelist>a{padding-right:32px;}
#submenu ul li.servicelist li{width:100%;}
#submenu ul li.navi{width:auto;}
#submenu ul li.navi a{padding: 16px 10px;}
#submenu .navi a:after{
  top:11px;
  width:7px;
  height:7px;
}
#submenu .navi a:not(.disabled):after{border-color:#1976D2;}
#submenu .navi a:not(.disabled):hover:after{border-color:#FF4081;}

#submenu .jump a:hover{background:#EEEEEE;}
#submenu .now span{padding:0 25px;}
#submenu > ul > .now{width:50px;}
.dividers:after{
  position: absolute;
  top: 20%;
  right: 0;
  height: 60%;
  width:1px;
  content: "";
  background:rgba(0,0,0 ,0.12);
}
.jump li {
  float:left;
}
.jump{
  top: 32px;
  width: 0;
  height: 0;
  display: block;
  border: none;
  position: absolute;
  overflow: visible;
  visibility: hidden;
  z-index: -1;
}
.hover .jump{
  z-index: 999;
  visibility: visible;
}
.jump div{
  display: block;
  background: #fff;
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  will-change: transform;
  -webkit-transition: -webkit-transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
  transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
  z-index: -1;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hover .jump div{
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 999;
}
.jump ul{
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  padding: 8px 0;
  min-width: 124px;
  font-weight: normal;
  position: absolute;
  opacity: 0;
  clip: rect(0px 148px 0px 148px); 
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), clip 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), clip 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
  z-index: -1;
}
.hover .jump ul{
  opacity: 1;
  z-index: 999;
}
.jump li,.jump a{
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
  outline-color: #bdbdbd;
  position: relative;
  overflow: hidden;
  letter-spacing: 0;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity .2s cubic-bezier(.4,0,.2,1);
  transition: opacity .2s cubic-bezier(.4,0,.2,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hover li,.hover a{
  opacity: 1;
}
.selected{color:#FF4081;}
#submenu select{
  padding: 16px 16px 16px 24px;
  font-size: 13px;
  color: #1976D2;
  font-weight: bold;
  position: relative;
}
.pull:before,.select:before {
  top: 23px;
  right: 15px;
  border: 5px solid transparent;
  border-top-color: #9E9E9E;
  pointer-events: none;
  position: absolute;
  content: "";
}
#rec .select:before{top:16px;right: 10px;}

#submenu .select{display:none;}

#submenu .now a{padding: 0;}
.now span:after{
  top:19px;
  left:20px;
  width:10px;
  height:10px;
  background: #3498db;
  border-radius: 100%;
  display: block;
  position: absolute;
  content: '';
}
.now span:before{
  top:15px;
  left:16px;
  width:16px;
  height:16px;
  border:1px solid #3498db;
  border-radius: 100%;
  display: block;
  position: absolute;
  content: '';
}
.center{
  margin:auto;
  max-width:1200px;
}
#tvheader{
  top:0;
  width:100%;
  background:#FEFEFE;  
  position: fixed;
  z-index: 10;
}
#tvheader:after {
  bottom: -24px;
  left: 0;
  width: 21px;
  height: 24px;
  background: #1976D2;
  border-right:1px solid #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  display: block;
  position: absolute;
  content: '';
}
#head {
  padding-top: 112px;
  left: 22px;
  z-index:9;
  position:fixed;
  overflow-y:scroll;
}
#head ul,#tvguide{border-spacing:1px 0}
#head li{
  text-align:center;
  color:#FFFFFF;
  background:#2196F3;
}
#head a{color: #FFFFFF;}
#wrap_tv_1,#wrap_tv_2,#wrap_tv_3{
  padding:0;
  height:100%;
  overflow:hidden;
}
#wrap_tv_1{padding-top:136px;}
#wrap_tv_2{padding-left:22px;}
#hour {
  top:136px;
  width:22px;
  position:fixed;
  z-index:1;
}
#hour div,.cell{border:1px solid transparent;}
#hour p{
  height: 100%;
  position: relative;
}
#hour span{
  padding-top: 2px;
  left:0;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  position: absolute;
}
#line{
  padding: 5px 2px 0;
  left: 0;
  height:0px;
  width:100%;
  color:#FF3D00;
  text-shadow: 0 4px 6px rgba(0,0,0,0.8);
  font-size:large;
  z-index:2;
  position: fixed;
  pointer-events: none;
  content: "";
}
#line:before{
  top: 0;
  right: 0;
  width:100%;
  height: 2px;
  background:rgba(255,61,0,0.54);
  box-shadow: 0 4px 6px rgba(0,0,0,0.8);  
  position: absolute;
  pointer-events: none;
  content: "";
}
#wrap_tv_3{-webkit-overflow-scrolling: touch;overflow: scroll;}

[class^="id"]{width:208px;}
#tvguide li{vertical-align:top;}
#tvguide>li p{
  margin-top:1px;
  color:rgba(0,0,0 ,0.54);
  font-size:x-small;
  font-weight:lighter;
  line-height: 15px;
}

.start{
  padding-left: 1px;
  width:1.4em;
  font-weight:lighter;
  vertical-align: top;
}

.mark{
  border: 1px solid #DD2C00;
  font-size: 8px;
  font-family: 'HG丸ｺﾞｼｯｸM-PRO';
  font-weight: bold;
  color: #FAFAFA;
  background: #FF9E80;
  margin: 1px;
  padding: 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  bottom: 1px;
  position: relative;
}
.recable{
  color: #FAFAFA;
  border-color:#D50000;
  background: #FF5252;
}
.view{
  border-color:#2962FF;
  background:#448AFF;
}
.disablerec .mark,.no{
  color:rgba(0,0,0 ,0.26);
  border-color:rgba(0,0,0 ,0.54);
  background:#F5F5F5;
}


.cell{
  position:relative;
  font-weight: bold;
  font-size: small;
  line-height: 20px;
}
.content{
  height: 100%;
  color:rgba(0,0,0 ,0.87);
  position:relative;
  overflow: hidden;
  border-radius: 2px;
}
.clicked .content:not(.nothing){
  top: 0px;  
  height:auto !important;
  position: absolute;
  z-index:1;
  box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.keep-top{border-top:none;}
.popup{display:none;}
.clicked .popup{display:block;}
.popup a{
  word-break: break-all;
  display: inline;
}
.icon{height:24px;}
.tool{padding:0 0 8px;}
.tool li{
  padding:7px 0;
  text-align: center;
  display:block;
}
.mask .reserve{display:none;}
.button{
  padding: 0 8px;
  margin-left:8px;
  width:88px;
  font-size:15px;
  line-height: 36px;
  border:none;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
}
.tool .button{
  margin:auto;
  color:rgba(0,0,0 ,0.54);;
  display:block;
}
.button.del{color:#646464!important;}
.button.raised{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
}
.button.raised:active{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
.button-wrap{
  padding: 8px;
  text-align:right;
}
.button-wrap.footer{padding-top:7px;}

.button-wrap.footer .button{font-size:17px;}
.form .button{
  color: #fff;
  background: #2196F3;
}
.footer .button{
  min-width: 64px;
  border:none;
  background: transparent;
  color:#2979FF;
}
.footer .button:hover{background:rgba(153, 153, 153, 0.2);}
.footer .button:active{background:rgba(153, 153, 153, 0.4);}
.dialog .footer .button{width:auto;font-size:15px;}

.end{
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background:rgba(255,255,255 ,0.54);
  transition: 1.5s;
  position: absolute;
}

#list,#reserve{overflow-x: auto;}

#list table,.list{
  min-width:1200px;
  table-layout:fixed;
  border-spacing:0
}
caption{
  text-align: right;
  margin-right: 10px;
}
.tuner{min-height:104px;}
.header td{
  color:rgba(0,0,0,0.54);
}
td{
  padding:13px 24px 13px 30px;
  border-bottom:1px solid #e0e0e0;
  font-size: 13px;
}
.header td{
  padding-top:19px;
  padding-bottom:18px;
  font-size: 12px;
}
td:first-child,.flag+td{padding-left:24px}
tr:last-child td{border-bottom-color:transparent}
.title,.keyword{min-width:350px;}
.notkeyword{min-width:200px;}
.count li:not(.sp){text-decoration:underline;}
.count li:hover{color:#FF4081}
#reserve .comment{max-width:300px;}
td.mode,.comment{min-width:200px;}
.date{width: 145px;}
.flag{width: 59px;padding-right:0;}
.header td,.category,.service,td.date,.info,.comment{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.info{max-width:500px;}
.rec{
  margin: auto;
  width: 21px;
  height: 21px;
  border: 7px solid #515151;
  border-radius: 100%;
  background: #EF5350;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
  transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: relative;
  display: block;
  content: '';
}
.rec:before{
  width:11px;
  height:11px;
  background:rgba(239, 83, 80,0.3);
  border-radius: 100%;
  position: absolute;
  margin-top:-2px;
  margin-left:-2px;
  content:"";
  transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.rec.not{background:#BDBDBD}
.rec.not:before{display:none;}
.rec.not:hover{background:#EF5350;}
.addrec {
  border-color: #fff;
  position: relative;
  background: #fff;
}
.addrec:before,.addrec:after {
  margin:0;
  background: #EF5350;  
  position: absolute;
  content: "";
  border-radius: 0;
}
.addrec:before {
  margin-top: -2px;
  margin-left: 2px;
  width: 3px;
}
.addrec:after {
  margin-top: 2px;
  margin-left: -2px;
  width: 11px;
  height: 3px;
}

.disablerec *{color: rgba(0,0,0 ,0.26);}
.namber{text-align: right;}
.namber li{float:right;}
tr:not(.header) .title{font-size: 14px;}
[data-href] td:not(.flag), .flag span:not(.recording){cursor: pointer;}
[data-href]:hover{background:#EEEEEE}

.circle_ico{
  bottom:50px;
  right:50px;
  width:56px;
  height:56px;
  display: inline-block;
  position: fixed;
  z-index:10;
  cursor: pointer;
  border:none;
  border-radius: 50%;
  font-size: 24px;
  background: rgba(158,158,158,.2);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  will-change: box-shadow,transform;
  -webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
}
.circle_ico:active{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
.add{
  background: #ff4081;
  color: #fff;
}
.circle_ico.disable{
  background-color: rgba(0,0,0,.12);
  color: rgba(0,0,0,.26);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  cursor: default;
}
.circle_ico .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px,-12px);
  -ms-transform: translate(-12px,-12px);
  transform: translate(-12px,-12px);
  line-height: 24px;
  width: 24px;
  color: #fff;
}
.circle_ico.disable .material-icons {color: rgba(0,0,0,.26);}

#info,#list table,.card,.list{
  margin:10px auto;
  box-shadow:0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
  border-radius: 2px;
  background:#FAFAFA;
  font-size: 14px;
}
#list table{margin-top:0;min-height: 56px;}
#info a{word-break: break-all;display: inline;}
#info a:link {
 color: #0000EE;
 text-decoration: underline;
}
#info a:visited {
 color: #551A8B;
 text-decoration: underline;
}
#info a:active {
 color: #FF0000;
 text-decoration: underline;
}

.drops *:not(.mark){color:#D50000;}
.scrambles *:not(.mark){color:#FFD600;}
.page ul{
  width:auto;
  margin:auto;
  font-weight: normal;
}
.page li{
  font-size: 1.2rem;
  float:left;
  width: 30px;
  height: 28px;
  margin: 10px;
  line-height: 28px;
  border-radius: 2px;
  text-align: center;
}
.page label,.page span{display:block;}
.activepage {background-color: #FF4081;}
.activepage span{color:#fff;}
.prev,.next{position: relative;}
.prev:after,.firstpage:before,.next:after,.lastpage:before{
  top: 8px;
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.prev:after,.firstpage:before{
  border-left: 2px solid rgba(0,0,0 ,0.87);
  border-bottom: 2px solid rgba(0,0,0 ,0.87);
}
.prev:after{left: 50%;}
.firstpage:before{left: 75%;}
.next:after,.lastpage:before{
  right: 50%;
  border-right: 2px solid rgba(0,0,0 ,0.87);
  border-top: 2px solid rgba(0,0,0 ,0.87);
}
.lastpage:before{right: 75%;}
.disabled:after,.disabled:before{border-color:rgba(0,0,0 ,0.26);}
h2 {
  margin:5px;
  font-size: x-large;
  font-weight: lighter;
}
h3{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
#base,#detail,#movie,.form{padding: 16px 40px;}
#base,.card #setting.form{padding-top: 32px}
#detail div{padding-bottom:16px;}
#base div{padding-top:16px;}
#movie>div{display: flex;justify-content: center;}
video{
  max-width: 100%;
  max-height: calc(90vh - 68px);
  min-width: 232px;
}
#movie video{
  max-height: calc(100vh - 148px);
}
ul.square p{margin-left: 1em;padding-bottom:0!important;}
ul.square{list-style-type:square;}
ul.square li{
  display:list-item;
  list-style-position:inside;
  font-weight:normal
}
#detail,#rec,#error,#movie,.footer{border-top: 1px solid #eee;}

#rec ul{padding:8px 0;}
#rec form>div>ul:not(.ui-sortable)>li:first-child,#rec form>div>div:not(#service):not(#tab) li:first-child,#rec form>div>p,#rec .hint li{
  color:rgba(0,0,0 ,0.54);
  font-size:small;
  font-weight:normal;
}
#rec div ul:first-child{padding-top:0;}
#rec div:not(#service):not(#tab)>ul>li:first-child{width:200px;}
#rec select,[type="text"],[type="number"]{border-bottom:1px solid rgba(0,0,0 ,0.12);}
#rec [type="number"]{margin-right:8px;width:60px;text-align: right;}
#rec select,#rec form>div>p,[type="text"],[type="number"]{padding:8px 0;}
#rec .compact{width:50%;min-width:450px;}
#rec .compact>li:first-child{padding-right:16px}
#rec .compact ul li:last-child{text-align: right;}
#rec .bottom{padding-bottom:0}
#rec ul{font-weight: normal;}
#rec ul>li>ul,#rec .hint{padding:0;}
#rec form>div>div:not(#service):not(#tab) li:first-child{padding-left:24px;}
#rec .btn>li>ul>li:last-child{width:96px;}
#dateList_main .button{margin-bottom: 8px;}
#dateList_edit{padding-left: 16px;}
#dateList_edit ul{padding:4px 0;}
#dateList_edit li:first-child{width:30px!important;}
#dateList_edit li{vertical-align: middle;}
#dateList_edit .dialog{position: fixed;}
#dateList_edit .select{width:48px;}
#dateList_edit span {position: relative;display:inline-block;}
#dialogeditor .disabled{cursor: pointer;}
#dialogeditor p{padding:4px 0 4px 30px;}
#dialogeditor [type="radio"]+label{height: 24px;display: block;}
.tilde{margin:0 8px;}
.DayOfWeek+label{margin-right:12px;}
#dateList_SP{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  text-align: center;
}
.dateList_SP,#dialoglist{height:115px;}
#dateList_SP .card {
  margin:1px 1px 5px;;
  padding:2px 0;
  min-width:64px;
}
#dialoglist .card{cursor: pointer;}
#dateList_SP .selected *{color: #2196F3;}
#dialoglist #dateList_SP{border:none;}
#dialoglist #dateList_SP .card{margin:1px 1px 5px;}
#editor{max-width: 550px ;}
.visible #editor{display:block;}
.editor .button-wrap:last-child{padding-bottom:0;}
.dialog ul{width:auto;}
.mode:disabled{border-color:#E0E0E0;}
.mode:disabled:checked{background:#E0E0E0;}
.disabled,.disabled *{color:#E0E0E0!important;}
.disabled .select:before{border-top-color: #E0E0E0!important;}
[type="text"]:focus,[type="number"]:focus{border-color:#2196F3;}
[for=chkRecEnd]:before{top:9px!important;}
[for=chkRecEnd]:after{top:11px!important;}
#rec [name="chkRecEnd"]{top:8px;}
#rec form>div>div:not(#tab) ul{padding:4px 0;}
#service2 .hide{display:none;}

table .sp{display:none;}
tr ul{display:block;font-weight:normal;}

[name=service]{display:none}

#tab ul{width:auto;margin:auto;}
#service ul{min-height:100px;}
#service li{
  margin-bottom:8px;
  padding:14px 0;
  background:rgba(250,250,250,0.8);
  border-radius:2px;
  box-shadow:0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
  display:block;
}


#service .switch{top: 3px;margin-right: 24px;float: right;}

#set #service{border-color:rgba(0,0,0 ,0.12);}
#rec #service li{font-weight: bold;}
#tab ul{
  text-align:center;
  font-size:large;
  padding: 0;
}
#tab label{
  padding:20px 24px;
  min-width:160px;
  color:rgba(0,0,0,0.54);
  font-size:medium;
  font-weight:normal;
  display:block;
}
#tab .active{color:#FF4081;}
#tab .active:after,#submenu .active:after,#sidemenu .active:after{border-bottom-width:2px;}
.handle {
  padding-left:35px;
  cursor: move;
  position: relative;
}
.handle:before,.handle:after{
  left: 16px;
  height: 100%;
  border-right: 1px dotted rgba(0,0,0,0.54);
  content: "";
  position: absolute;
}
.handle:after{left:18px;}

.btn li{vertical-align: top;}
[name="days"]{width:auto;}
.card-header{
  font-size:20px;
  padding:24px 24px 10px;
}
#tab{border-bottom:1px solid #eee}
.sbs.float{float:left;}
.genre>li{float:left;padding-bottom:8px;}
.genre>li>ul{width:auto;}
.genre>li>ul>li:first-child{min-width:200px;}
.genre>li>ul>li{padding:0 24px 0 16px;}
.reserve ul{width:auto;}
.reserve>li{display:block;}
.reserve>li>ul>li{float: left;padding-bottom:8px;}
.reserve>li>ul>li>ul>li:not(.frame){padding: 0 24px 0 16px;}
.reserve>li>ul>li>ul>li:first-child{width:200px;}
.reserve>li>ul>li>ul>li>ul>li.color{padding:0 24px 0 16px;}

#submenu,#tab-bar-container,#sub-search {
  display: flex;
  padding: 0 16px 0 56px;
  position: relative;
  height: 48px;
  width: 100%;
  border: none;
  margin: 0;
  background: #FAFAFA;
  z-index: 2;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
#tab-bar-container{padding: 0;}
#tab-bar {
  padding: 0 112px 0 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}
#tab-bar label{
  padding: 0 24px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #737373;
  overflow: hidden;
  position: relative;
}
#tab-bar label:hover{background:#F3F3F3;}
#tab-bar .active{color: #333;font-weight: 500;}
.tab-bar:not(:first-child),#service ul:not(:first-child),.sort{display:none;}
#base+div{display:block;}

.advanced{display:none;}
#sub-search{padding:0 112px 0 56px;margin-top:-48px;}
#sub-search .expandable{width: 100%;}
#sub-search,#rec{
  z-index: -5;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
#sidemenu.visible{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#sidemenu{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 240px;
  height: 100%;
  max-height: 100%;
  line-height:20px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  background: #fafafa;
  -webkit-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 21;
}
#obfuscator,.obfuscator{
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  visibility: hidden;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.visible+#obfuscator,.visible+.obfuscator{
  visibility: visible;
  background-color: rgba(0,0,0,.5)!important;
}
.dialog{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 21;
  visibility: hidden;
}
.dialog>.card{
  min-width:280px;
  max-width: 90%;
  max-height:90%;
  opacity: 0;
  box-shadow: 0px 24px 27px 0px rgba(0,0,0,0.16),0px 24px 27px 0px rgba(0,0,0,0.23);
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.dialog>.card.visible{
  display: block!important;
  opacity:1;
  visibility:visible;
  z-index: 21;
}
.messege{padding:24px;}
.messege+.footer{border-color:transparent;}
#dialog .messege *{font-size: 15px;color:#757575;}

#obfuscator2{
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  z-index: 10;
}
#sidemenu div>div{
  padding: 2px 0;
  margin-left: 40px;
  font-weight: 500;
  font-size: 13px;
  display:block;
  position: relative;
}
#sidemenu div>div>label{display:block;}

#sidemenu .switch{
  top: 3px;
  margin-right: 12px;
  float: right;
}
.link{
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 16px 40px;
  margin: 0;
  color: #757575;
  font-weight: 500;
  font-size: 13px;
}
.link:hover{background:#EEEEEE;}
#sidemenu>* {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
#sidemenu #title {
  padding-left: 40px;
  background-color: #2196F3;
}
#sidemenu .title {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 64px;
  letter-spacing: .02em;
  font-weight: 400;
  color: #fff;
}
#sidemenu nav{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}
#sidemenu span+div{display:none;}
span.link {
  cursor: pointer;
}
.toggle{position:relative}
.toggle:before{
  top:50%;
  margin-top:-6px;
  left:25px;
  width: 6px;
  height: 6px;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-right: 2px solid #757575;
  border-top: 2px solid #757575;
  transition: .2s;
}
.toggle.clicked:before{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#head::-webkit-scrollbar,#tab-bar::-webkit-scrollbar{display:none;}

#loading{
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  visibility: hidden;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.4,0,.2,1)
}
#loading>div{
  top: 30px;
  width: 40px;
  height: 40px;
  opacity: 0;
  background: #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
  -webkit-transform: scale3d(0,0,0);
  transform: scale3d(0,0,0);
  -webkit-transition: transform .28s cubic-bezier(.4,0,.2,1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform .28s cubic-bezier(.4,0,.2,1),opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
}
#loading>div.is-active{
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}
.spinner {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
}
.is-active .spinner{
    -webkit-animation: spinner__container-rotate 1568.23529412ms linear infinite;
    animation: spinner__container-rotate 1568.23529412ms linear infinite;
}

.spinner__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.spinner__layer-1 {border-color: rgb(66,165,245);}
.spinner__layer-2 {border-color: rgb(244,67,54);}
.spinner__layer-3 {border-color: rgb(253,216,53);}
.spinner__layer-4 {border-color: rgb(76,175,80);}
.is-active .spinner .spinner__layer-1 {
    -webkit-animation: spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner__layer-1-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner__layer-1-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.is-active .spinner .spinner__layer-2 {
    -webkit-animation: spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner__layer-2-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner__layer-2-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.is-active .spinner .spinner__layer-3 {
    -webkit-animation: spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner__layer-3-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner__layer-3-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.is-active .spinner .spinner__layer-4 {
    -webkit-animation: spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner__layer-4-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, spinner__layer-4-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.spinner__circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}
.spinner__circle {
    box-sizing: border-box;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.spinner__circle-clipper .spinner__circle {
    width: 200%;
}
.spinner__left .spinner__circle {
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    -ms-transform: rotate(129deg);
    transform: rotate(129deg);
}
.is-active .spinner .spinner__left .spinner__circle {
    -webkit-animation: spinner__left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: spinner__left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.spinner__right .spinner__circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    -ms-transform: rotate(-129deg);
    transform: rotate(-129deg);
}
.is-active .spinner .spinner__right .spinner__circle {
    -webkit-animation: spinner__right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: spinner__right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.spinner__gap-patch {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}
.spinner__gap-patch .spinner__circle {
    width: 1000%;
    left: -450%;
}

@-webkit-keyframes spinner__container-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner__container-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes spinner__fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
            transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg); } }

@keyframes spinner__fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
            transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg); } }

@-webkit-keyframes spinner__layer-1-fade-in-out {
  from {opacity: 0.99; }
  25% {opacity: 0.99; }
  26% {opacity: 0; }
  89% {opacity: 0; }
  90% {opacity: 0.99; }
  100% {opacity: 0.99; }
}
@keyframes spinner__layer-1-fade-in-out {
  from {opacity: 0.99; }
  25% {opacity: 0.99; }
  26% {opacity: 0; }
  89% {opacity: 0; }
  90% {opacity: 0.99; }
  100% {opacity: 0.99; }
}
@-webkit-keyframes spinner__layer-2-fade-in-out {
  from {opacity: 0; }
  15% {opacity: 0; }
  25% {opacity: 0.99; }
  50% {opacity: 0.99; }
  51% {opacity: 0; }
}

@keyframes spinner__layer-2-fade-in-out {
  from {opacity: 0; }
  15% {opacity: 0; }
  25% {opacity: 0.99; }
  50% {opacity: 0.99; }
  51% {opacity: 0; }
}

@-webkit-keyframes spinner__layer-3-fade-in-out {
  from {opacity: 0; }
  40% {opacity: 0; }
  50% {opacity: 0.99; }
  75% {opacity: 0.99; }
  76% {opacity: 0; }
}

@keyframes spinner__layer-3-fade-in-out {
  from {opacity: 0; }
  40% {opacity: 0; }
  50% {opacity: 0.99; }
  75% {opacity: 0.99; }
  76% {opacity: 0; }
}

@-webkit-keyframes spinner__layer-4-fade-in-out {
  from {opacity: 0; }
  65% {opacity: 0; }
  75% {opacity: 0.99; }
  90% {opacity: 0.99; }
  100% {opacity: 0; }
}

@keyframes spinner__layer-4-fade-in-out {
  from {opacity: 0; }
  65% {opacity: 0; }
  75% {opacity: 0.99; }
  90% {opacity: 0.99; }
  100% {opacity: 0; }
}
@-webkit-keyframes spinner__left-spin {
  from {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg); } }

@keyframes spinner__left-spin {
  from {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg); } }

@-webkit-keyframes spinner__right-spin {
  from {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg); } }

@keyframes spinner__right-spin {
  from {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg); } }
.material-icons {
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga'
}

@media screen and (max-width:720px){
.menu {height: 56px;padding: 0 16px 0 72px;position: relative;}
#pagetitle{
  bottom: 20px;
  right: 0;
  left: 0;
  position: absolute;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#pagetitle span{display:none;}

.menu span.focused{opacity:0;}

#menu nav a{padding: 0 12px;line-height: 48px;}
#menu_ico {margin: 4px;z-index: 1;}
#menu nav{display:none;}
#textfield{padding: 20px 0;}
#textfield.focused{width: calc(100% - 48px);}
.search-ico{bottom: 20px;}
#sidemenu div>div {padding: 4px 0;}
#sidemenu #title {padding-top:48px;}
#sidemenu .sp{display:block;}

#tvheader:after{width:16px;height:19px;bottom:-19px;}
#head{left:16px;padding-top: 104px;}
#head li{font-size:small;padding:2px 0;}
#hour{width:16px;top:123px;}
#wrap_tv_1{padding-top:123px;}
#wrap_tv_2{padding-left:16px;}
[class^="id"]{width:120px;}
#tvguide>li p,.cell{line-height: normal;}

#menu ul ul{width:100%;}
#menu ul{width:100%;}
#tvheader #submenu{padding:0;}
#submenu ul{margin:auto;}
#submenu ul li.navi{width: 32px;}
#submenu > ul > li:last-child:after{display:none;}
#submenu select{padding: 16px 8px 16px}
.content{padding:1px;}
.tool .button{font-size:14px;}
.circle_ico{
  bottom:25px;
  right:25px;
}
.page li{margin: 5px;}

#list, #reserve {overflow-x: visible;}
#list table, .tuner, .tuner table{min-width:0;}
#list > ul > li {
  width:100%;
  margin:0;
  height:auto;
}
#list .sub span{display:block;}
#base,#detail,#movie,.form{padding:16px;}
#info, #rec, #list table, #error,#setting{border-radius: 0;}
.form{padding-bottom:8px;}
#rec ul,#rec p.bottom{padding:4px 0;}
#rec li{display:block;}
#rec label{display:inline-block;}
#rec select,[type="text"],[type="number"],.hint{padding: 4px 0;}
#rec .compact{width:100%;min-width:0;}
#rec .compact>li{width:50%;}
#rec .compact ul li:first-child{width:50px;}
#rec .select:before{top: 13px;}
#rec .preset{margin-left:16px;word-break:break-all;}
#rec .preset:not(.partial){padding-bottom:4px;}
#rec .preset ul{padding: 4px 0 0!important;}
#rec .preset ul:first-child {padding-top: 0!important;}
#rec .preset li{padding:0!important;}
#rec li.onoff{padding:8px 0;}
#rec .btn ul li{
  padding:0;
  display:table-cell
}
.float{float:left;}
.float+li{margin-left:50%;}
h3{
  font-size: 20px;
  line-height: 25px;
}
pre {max-height:400px;}

table,tbody,tr li{display:block;}
.header,caption{display:none;}

tr{
  padding:16px 16px 16px 60px;
  border-bottom:1px solid #e0e0e0;
  display:flex;
  flex-wrap: wrap;
  position:relative;
  overflow: hidden;
}
tr:last-child{border-bottom-color: transparent;}
#autoadd tr,#recinfo tr{padding:16px;}
td{
  padding:0 3px 0 0 !important;
  width:50%;
  display:block;
  border:none;
  order:2;
}
#autoadd td{padding:0 0 8px!important;}
.flag{
  width: auto;
  top: 50%;
  left: 16px;
  overflow: visible;
  position: absolute;
  padding: 0 !important;
}
.flag span{margin-top:-25%;}
.title{padding:0 !important;order:1;}
.title,.keyword{font-size:16px!important;}
.title,.keyword,.notkeyword,#recinfo .comment,.info{width:100%;}
.title,.keyword,.notkeyword,td.mode,.comment{min-width: 0;}
.date,.service,.comment,.priority{width:auto;}
.namber{text-align:left;}
.namber li{float:left;clear: both;}
.info{max-width:none;}
.rec{margin: 5px;}

tr ul{width:auto;}
tr:not(.disablerec):not(.drops):not(.scrambles) td:not(.title),td span{color:rgba(0,0,0 ,0.54);}
table:not(#autoadd) td:not(.title){font-size: small;}
table .sp{display:inline-block;}
#list li.sp{
  font-size:small;
  color:rgba(0,0,0, 0.26);
}
#list li.sp+li{padding-left:0.5em;}


[data-href]:hover{background:#FAFAFA}

#tab ul{width:100%;}
#tab label{padding: 20px 0;min-width:0;}
#service .switch{top:0;margin-right:16px;}
.card-header{
  padding:16px;
  border-bottom:1px solid #e0e0e0;
}
.right{float:right;}

#rec .genre>li:last-child{padding:4px 0;}
#rec .sbs li{display: table-cell;}
#dateList_main{width:auto;}
#dateList_edit{padding-left:0;}

#editor{max-width: 95%;}
#dateList_main #dateList_select,#editor,#rec #dateList_main .multiple{display:none;}
#dateList_edit #dateList_select{display:block;}
#dateList_SP{display: flex!important;}
.editor .button{display: inline-block!important;}

.sbs .switch{top:0px;right: 4px;}
.genre>li{padding:4px 0;}
.genre>li>ul{width:100%;}
.genre>li>ul>li:first-child{min-width:0px;}
.genre>li>ul>li:last-child{width:60px;}
.reserve>li:first-child{padding-top:4px;}
.reserve>li>ul>li>ul{width:100%;}
.reserve>li>ul>li>ul>li{width:60px;}
.reserve>li>ul>li>ul>li.color,.reserve>li>ul>li>ul>li>ul>li.color{padding:0 0 0 16px;}
.reserve>li>ul>li>ul>li.frame{padding:0 0 0 16px;width:89px;}
.reserve>li>ul>li>ul>li:first-child {width: auto;}
.bottom+li{padding-top:0;}
#tab-bar{padding:0 0 0 16px;}
#sub-search{padding:0 16px;margin-top:-49px;}
.expandable{width: 100%;}

}