.multiple{position: relative;}
.multiple:before{
  top: 16px;
  right: 10px;
  border: 5px solid transparent;
  border-top-color: #9E9E9E;
  position: absolute;
  content: "";
}

#dateList_edit{padding-left:0;width: 0;}
.dateList_SP,#dialoglist{height:105px;}
#rec #dateList_main .multiple,#editor,#dateList_main .add_time,#dateList_main .del_time{display:none;}
.dialog #dateList_select{width:100%;}

@media screen and (max-width:720px){
[for=chkRecEnd]:before{top:6px!important;}
[for=chkRecEnd]:after{top:8px!important;}

#submenu>ul{
  display: flex;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
#submenu>ul>li{
  width: auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
#submenu select {padding: 16px 26px 16px 8px;}
#submenu .select{display:table-cell;}
.pull{display:none;}

.dateList_SP,#dialoglist{height:90px;}
.multiple:before{top: 13px;}
}
